   * {
        box-sizing: border-box;
      }
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      .card_box {
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        height: 350px;
        width: 610px;
      }
      .container {
        display: flex;
        align-items: center;
        padding: 30px;
      }
      .container img {
        width: 220px;
        height: 220px;
        border-radius: 50%;
      }
      .content {
        margin-left: 20px;
        background-color: rgb(255, 255, 255);
        padding: 20px;
      }
      .card_box .button {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      button {
        background-color: rgb(185, 3, 88);
        color: #fff;
        padding: 10px 50px;
        outline: none;
        border: none;
        font-size: 20px;
      }
